
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables ..
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Customised Variables
@import "variables";

// Import Webfonts
@import "base/webfonts";

// Import Typography
@import "base/typography";

html {
	position: relative;
	min-height: 100%;
}

.nav_header {
	padding: 20px;
	list-style-type: none;
}

.nav_item {
	display: inline;
	padding: 16px 18px;
}

body {
	background-color: $background-color;
	margin: 0 0 70px;
}

.pad-bot{
	padding-bottom: 20px;
}

.xs-center-block{

	@media(max-width: 767px ){
		margin: 0 auto;
	}

}

.xs-center{

	@media(max-width: 767px ){
		text-align: center;

	}

}


// ========== BLOG STYLES ==============
.blog_header{

	margin-top: 60px;
}

.bloglanding{



	&_header{
		display: block;
		text-align: center;
		margin-bottom: 100px; 
	}

	&_intro_text{
		display: block;
		width:100%;
		text-align: center;
		margin: 100px auto;
	}

	&_content{
		margin-bottom: 70px auto;
	}
}

.blogPost{

	&_profile_header{

		display: block;
		text-align: center;
		margin-bottom: 100px;


		&_intro_text{
			display: block;
			width:100%;
			text-align: center;
		}
	}

	&_title{
		
		text-align: center;
		margin-bottom: 10px;
	}

	&_content{
		margin-top: 20px;
		text-align: center;
	}
}
.post-summary{
	margin-bottom: 40px;
}

// ========== BLOG STYLES ==============

// ========== ABOUT STYLES =============
.about{

	&_header{
		margin-bottom: 100px;
		text-align: center;
	}

	&_content{
		margin-bottom: 50px;
		text-align: left;

		&_text{
			margin-top: 30px;
		}
	}

}


// ========== ABOUT STYLES =============


.header {
	font-family: $font-family-rounded;
	font-size: $font-size-h6;
	background-color:$headerfooter-colour;
	text-align: right;
	padding-top: 40px;

	&_logo {
		min-height: 100px;
		background: url("../images/logo.svg");
		background-repeat: no-repeat;
		margin-bottom: -30px;
		z-index: 10;
	}
}

.page{
	margin: 200px auto;
}

.footer { 
	background-color: $headerfooter-colour;
	bottom: 0;
	min-height: 70px;
	padding: 25px;
	position: absolute;
	width: 100%;

	&_twitter {
		text-align: center;
		font-family: $font-family-rounded;
		font-size: $font-size-base;
	}

	&_twitter-link{
		vertical-align: top;
	}

	&_twitter-icon {
		width: 24px;
		height: 24px;
		background: url("../images/twittericon.svg");
		background-repeat: no-repeat;
		margin-left: 10px;
		display: inline-block;
	}

	
	
}

.title-text {
	text-align: center;
	position: absolute;
	height: 97px;
	width: 80%;
	z-index: 3; 
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 45px;
}

.iframe{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}
		
.iframe iframe{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.75;
} 

.content {
	img.center {
		@extend .img-rounded;
		@extend .img-responsive;
		margin: 60px auto;
	}
}


// ============= FORM STYLES ===================

.userform{

	&_header{
		margin-bottom: 150px;
	}

	&_twitter{

	}

	&_content{
		display: block;
	}

	// @media(min-width: 767px){
	// 	margin-top: 250px;
	// }

	// @media(max-width: 767px ){
	// 	margin-top: 100px;
	// }

	[name="EditableTextField_25fd8"]{
		color: black;
		width: 100%;
	}
	[name="EditableTextField_b5244"]{
		color: black;
		width: 100%;
	}
	[name="EditableTextField_d82ec"]{
		color: black;
		width: 100%;
	}
	[name="EditableTextField_e9586"]{
		color: black;
		width: 100%;
	}
	[name="EditableTextField_28a9e"]{
		color: black;
		width: 100%;
		height: 200px;
	}
	[name="action_process"]{
		margin-top: 10px;
	}

}
